@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

@font-face {
  font-family: 'Nasa';
  src: url('../fonts/nasalization-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html, body {
  height: 100%;
  margin: 0 auto;
  background: #171E25
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#hint {
  position: fixed;
  z-index: 3;
  background: rgba(52, 169, 110, 0.75);
  width: 100%;
  text-align: center;
  pointer-events: none;
  font-family: Nasa;
  top: 0%;
  transition: all 1s ease;
}

body.details #hint {
  top: -100%;
}

#location {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body.details #location {
  height: 49%;
}

#map {
  height: 100%;
  padding-bottom: 15px;
  width: 100%;
}

#map .mapboxgl-canvas {
  transition: all 1s ease
}

#location--mask {
  content: '';
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100%;
  left: 0%;
  pointer-events: none;
  z-index: 2;
  background-size: 100% 100%;
  background-position: 50% 50%;
  transition: all .5s ease;
}

body.details #location--mask {
  bottom: 50%;
  height: 50%;
}

#location--actions {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -54px;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  display: none;
}

body.details #location--actions {
  display: flex
}

#details {
  display: flex;
  color: white;
  width: 0%;
  top: 50%;
  right: 0;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  transition: all .5s ease;
  background: #171E25;
}

#details--content {
  width: 100%;
  padding: 0;
  font-family: Nasa;
  margin-bottom: 72px;
}

.tab {
  margin: 0 16px -2px 16px;
  border: 2px solid #34a96e;
  display: flex;
  flex-wrap: wrap;
}

.tab>legend {
  border: 2px solid #34a96e;
  padding: 6px 12px;
}

.tab strong {
  color: #34a96e;
  padding: 8px 0 6px 0;
  display: block;
}

.tab .flex {
  display: flex
}

.tab .box {
  flex: 0 0 50%;
  width: 50%;
}

#details--actions {
  color: #34a96e;
  background: #171E25;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#chat-msg {
  width: 80%;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button.rounded {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #34a96e;
  text-decoration: none;
  border: 2px solid #34a96e;
  font-family: Nasa;
}

.button.icon {
  font-size: 24pt;
  color: white;
  padding: 16px;
}

.rotate-45 {
  transform: rotate(45deg) !important;
}

.marker {
  cursor: pointer;
  padding: 20px
}

.marker--dot {
  width: 10px;
  height: 10px;
  background: #34a96e;
  border-radius: 50%;
}

.marker--ring {
  border: 3px solid #64997e;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  left: 10px;
  top: 10px;
  position: absolute;
  animation: pulsate 2s ease-out infinite;
}

@media (max-width: 370px) {
  .tab .flex {
    flex-wrap: wrap
  }
  .tab .box {
    flex-basis: 100%;
  }
}

@media (max-width: 769px), (max-aspect-ratio: 83 / 78) {
  body.details #details {
    width: 100%;
    opacity: 1;
  }
}

@media (min-width: 769px) and (min-aspect-ratio: 83 / 78) {
  #details {
    width: 0%;
    height: 100%;
    top: 0;
    opacity: 1;
  }
  body.details #details {
    width: 50%;
  }
  #details--content {
    align-self: center;
  }
  body.details #location {
    width: 50%;
    height: 100%;
  }
  body.details #location--mask {
    bottom: 0;
    height: 100%;
    left: -45%;
  }
  #details--actions {
    width: 50%;
  }
  #location--actions {
    flex-direction: column;
    width: 56px;
    left: 0;
    bottom:128px;
    top:unset;
  }
}